In [1]:
import numpy as np 
import pandas as pd

In [5]:
data = {"Istanbul": [30,29,np.nan],"Ankara": [20,np.nan,25],"İzmir": [45,50,47]}
weatherConditionDataFrame = pd.DataFrame(data)
weatherConditionDataFrame

   Istanbul  Ankara  İzmir
0      30.0    20.0     45
1      29.0     NaN     50
2       NaN    25.0     47

In [7]:
weatherConditionDataFrame.dropna()

   Istanbul  Ankara  İzmir
0      30.0    20.0     45

In [11]:
weatherConditionDataFrame.dropna(axis = 1)

   İzmir
0     45
1     50
2     47

In [13]:
newData = {"Istanbul": [30,29,np.nan],"Ankara": [20,np.nan,25],"İzmir": [45,50,47],"Antalya": [45,np.nan,np.nan]}
newWeatherConditionDataFrame = pd.DataFrame(newData)

In [15]:
newWeatherConditionDataFrame

   Istanbul  Ankara  İzmir  Antalya
0      30.0    20.0     45     45.0
1      29.0     NaN     50      NaN
2       NaN    25.0     47      NaN

In [21]:
newWeatherConditionDataFrame.dropna(axis = 1, thresh=2)

   Istanbul  Ankara  İzmir
0      30.0    20.0     45
1      29.0     NaN     50
2       NaN    25.0     47

In [23]:
newWeatherConditionDataFrame.fillna(60)

   Istanbul  Ankara  İzmir  Antalya
0      30.0    20.0     45     45.0
1      29.0    60.0     50     60.0
2      60.0    25.0     47     60.0

## groupby

In [32]:
dataSalary = {"Departments" : ["HR","HR","Software","Software","Marketing","Marketing"],
              "Employee Name" : ["Berkay","Ahmet","Ayşe","Zeynep","Defne","Fatma"],
              "Salary": [3000,2550,4000,6000,7555,5200]
             }

In [34]:
salaryDataFrame = pd.DataFrame(dataSalary)

In [36]:
salaryDataFrame

  Departments Employee Name  Salary
0          HR        Berkay    3000
1          HR         Ahmet    2550
2    Software          Ayşe    4000
3    Software        Zeynep    6000
4   Marketing         Defne    7555
5   Marketing         Fatma    5200

In [40]:
groupObject = salaryDataFrame.groupby("Departments")

In [54]:
groupObject.count()

             Employee Name  Salary
Departments
HR                       2       2
Marketing                2       2
Software                 2       2

In [58]:
groupObject.min()

            Employee Name  Salary
Departments
HR                  Ahmet    2550
Marketing           Defne    5200
Software             Ayşe    4000

In [62]:
groupObject.median()

TypeError: agg function failed [how->median,dtype->object]